extends base

mixin navItem(link, text,icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

mixin rowdata(userdata)
  td= `${userdata.name}`
  td= `${userdata.email}`
  td
    a(href=`/user-details/${userdata.id}`) Details

block content 
    main.main
      .user-view
        nav.user-view__menu
          ul.side-nav
            +navItem('#', 'Settings', 'settings', true)
            +navItem('/my-bookings', 'My bookings', 'briefcase')
            +navItem('/my-reviews', 'My reviews', 'star')
            +navItem('/my-billings', 'Billing', 'credit-card')

          - if(user.role === 'admin')
            .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manage-tours', 'Manage tours', 'map')
              +navItem('/manage-users', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

        .user-view__content
          .user-view__form-container
            .manageUsers-form
              h2.heading-secondary.ma-bt-lg Manage Users
              //- br
              //- button#createUser.btn.btn--small.btn--green(href='/create-user' action='click' targets='_blank') Create User
              form.form.form--manageUsers
                label.form__label(for='searchCriteria') Search Criteria
                select#searchCriteria.form__input.search-select(for='searchCriteria' required)
                  option(value='0', selected) -- Select --
                  option(value='name') Name
                  option(value='role') Role
                  option(value='email') Email
                  option(value='active') Status 
                label.form__label(for='searchValue') Value
                input#searchValue.form__input(type='name', required)
                br
                button#searchUser.btn.btn--small.btn--green Search User
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                button#createUser.btn.btn--small.btn--green(href='/create-user') Create User
              br
              .table-wrapper
                table.table-allUsers(style='width:100%', border='1')
                  thead.table-header
                    tr 
                      th Name
                      th Email
                      th Details
                  - if(users)
                      tbody.table-body
                      each userdata in users
                        tr 
                          +rowdata(userdata)


